<!-- PAGINA DE INICIO DE FLASHCARDS-->

{% extends "layout.html" %}

{% block content %}
<h1 style= "color:white ; text-align:center;"> Bienvenido a la página de estudio Flascards</h1> <br/>

<td style= "color:white ; text-align:center;">
    <h2> ¿Qué es este proyecto? </h2>

    <h3>Aquí podrá estudiar con diferentes imágenes radiológicas y pondrá a prueba sus conocimientos adquiridos.
        También tendrá a su disposicion links para que pueda repasar conceptos y patologías asociadas a las imágenes.

        Para iniciar debes registrarte

    </h3>


    <!--Buttons shown in parallel 
    <div class="contenedor-boton-inicio">
        <a href="{% url 'signup' %}" >  
            <button class="btn btn-info" > Registrarme </button>
        </a><br>

        <a href="{% url 'login' %}" >
            <button class="btn btn-info" > Iniciar sesion </button>
        </a><br>
    </div>
</td>-->


{% endblock %}